<script lang="ts">
  export let label: string
  export let options: Array<any> = []
  export let size: number = 0
  export let required: boolean = false
  export let autofocus: boolean = false
  export let propToBind: string | undefined = undefined
  export let filter: any
  export let orientation: 'vertical' | 'horizontal' = 'horizontal'
  let value: any
  const focus = (node: any) => autofocus && node.focus()
  const handleChange = (e, option) => {
    if (e.target.checked) {
      filter = {
        type: 'checkbox',
        values: [...(filter?.values ?? []), option[propToBind] ?? option],
      }
    } else {
      filter.values = filter.values.filter((v) =>
        propToBind ? option[propToBind] !== v : option.id !== v.id
      )
    }
  }
</script>

<div style={`flex: ${size} 1 auto;`} class={`${$$props.class || ''} pr-3`}>
  <div class="mt-1 rounded-md">
    <fieldset>
      <legend class="block text-sm font-medium leading-5 text-gray-700">
        {label}
        {#if required}<span class="text-red-700 text-sm pl-1">*</span>{/if}
      </legend>
      <div class={`flex flex-${orientation === 'horizontal' ? 'row' : 'col'}`}>
        {#each options as option, i (i)}
          <div class="mt-3 mr-2">
            <div class="relative flex items-start">
              <div class="flex items-center h-5">
                <input
                  use:focus
                  id={option.label}
                  type="checkbox"
                  on:change={(e) => handleChange(e, option)}
                  class="focus:ring-cyan-500 h-4 w-4 text-cyan-600 border-gray-300 rounded"
                />
              </div>
              <div class="ml-2 text-sm leading-5">
                <label for={option.label} class="font-medium text-gray-700">{option.label}</label>
              </div>
            </div>
          </div>
        {/each}
      </div>
    </fieldset>
    <!-- {#if errorMessage}
      <span class="mt-2 text-xs text-red-600">{errorMessage.msg}</span>
    {/if} -->
  </div>
</div>
