<script lang="ts">
  import { Icon } from '@components'
  import type { ConsoleState } from '@types'

  export let props: ConsoleState<any>
  const { requestParams, filter } = props

  let advancedFilter = false
  let defaultFilter = { ...$requestParams.filter }
  const handleSubmit = () =>
    ($requestParams.filter = {
      ...$requestParams.filter,
      ...$filter,
    })
  const handleReset = () => {
    $filter = {}
    $requestParams.filter = defaultFilter
  }
  const handleKeyDown = (e) => {
    e.key === 'Enter' && handleSubmit()
    e.key === 'Escape' && handleReset()
  }
  $: isFormInvalid = Object.values($filter).filter((f) => f).length === 0
  $: if ($filter.query === '') {
    $filter = {}
  }
</script>

<div class="max-w-6xl mx-auto flex-1 flex justify-center lg:justify-end">
  <div class="w-full">
    <label for="search" class="sr-only">Filtrar</label>
    <div class="relative text-gray-400">
      <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
        <Icon name={'Search'} class="ml-0.5 mr-0.5" />
      </div>
      <input
        autocomplete="off"
        name="search"
        placeholder="Filtrar"
        bind:value={$filter.query}
        on:keydown={handleKeyDown}
        class="block w-full pl-10 pr-3 py-2 border-r-0 border-gray-200 rounded-md rounded-r-none rounded-b-none leading-5 bg-white placeholder-gray-400 text-gray-900 sm:text-sm focus:outline-none focus:ring-1 focus:ring-cyan-500 focus:z-50"
        class:rounded-b-none={advancedFilter}
        class:border-b-none={advancedFilter}
        class:shadow-md={!advancedFilter}
      />
    </div>
  </div>
  <button
    type="button"
    on:click={() => (advancedFilter = !advancedFilter)}
    class="inline-flex items-center px-2 border-l-0 border-gray-200 text-sm font-bold leading-5 rounded-md rounded-l-none bg-gray-200 hover:bg-gray-300 text-gray-400 focus:outline-none focus:ring-1 focus:ring-cyan-500 focus:z-50"
    class:rounded-b-none={advancedFilter}
    class:border-b-none={advancedFilter}
    class:shadow-md={!advancedFilter}
  >
    <Icon name={'Adjustments'} class="text-gray-500 ml-0.5 mr-0.5" size={4} />
  </button>
</div>
{#if advancedFilter}
  <form
    on:submit|preventDefault={handleSubmit}
    class="max-w-6xl mx-auto w-full bg-gray-200 rounded-b-md shadow-md p-2"
  >
    <slot name="filter" />
    <div class="pt-2 text-sm leading-5 flex justify-end">
      <button
        on:click={handleReset}
        type="reset"
        class="inline-flex items-center mr-2 px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-gray-500 border-gray-500 hover:text-gray-700 hover:border-gray-700 focus:outline-none focus:shadow-outline-indigo transition ease-in-out duration-75"
      >
        Limpar
      </button>
      <button
        disabled={isFormInvalid}
        type="submit"
        class={`inline-flex items-center px-4 py-2 border transition ease-in-out duration-75 text-sm leading-5 font-medium rounded-md ${
          isFormInvalid
            ? 'cursor-not-allowed border-gray-300 bg-gray-300 text-gray-600'
            : 'border-transparent bg-cyan-600 text-white font-bold hover:bg-cyan-500 focus:outline-none focus:border-cyan-700 focus:shadow-outline-indigo active:bg-cyan-700'
        }`}
      >
        Filtrar
      </button>
    </div>
  </form>
{/if}
