<script lang="ts">
  import type { DateFormat } from 'src/infra/types'
  import IntervalInput from './IntervalInput.svelte'
  export let label: string
  export let required: boolean = false
  export let max: DateFormat = '2099-12-31'
  export let min: DateFormat = '1900-01-01'
  export let size: number = 0
  export let autofocus: boolean = false
  export let filter: any
</script>

<div style={`flex: ${size} 1 auto;`} class={`${$$props.class || ''} pr-3`}>
  <label for={label} class="block text-sm font-medium leading-5 text-gray-700">
    {label}{#if required}<span class="text-red-700 text-sm pl-1">*</span>{/if}
  </label>
  <div class="flex gap-1">
    <IntervalInput {autofocus} {max} {min} fromTo={'from'} bind:filter />
    <label for={label} class="pt-3 block text-sm font-medium leading-5 text-gray-700"> até </label>
    <IntervalInput {max} {min} fromTo={'to'} bind:filter />
  </div>
</div>
