<script lang="ts">
  import type { DateFormat } from 'src/infra/types'
  import { isMaxDate, isMinDate } from 'src/infra/utils'
  import { Icon } from 'src/infra/components'
  export let autofocus: boolean = false
  export let max: DateFormat = '2099-12-31'
  export let min: DateFormat = '1900-01-01'
  export let fromTo: 'from' | 'to'
  export let filter: any
  let error = undefined
  let value: string
  const focus = (node: any) => autofocus && node.focus()
  const handleInput = () => {
    error = isMaxDate(value, max).msg ?? isMinDate(value, min).msg
    filter = {
      ...filter,
      type: 'interval',
      [fromTo]: !error && value ? value : undefined,
    }
  }
  const handleFocusOut = () => {
    error = isMaxDate(value, max).msg ?? isMinDate(value, min).msg
  }
  $: inputClass = `
    ${error ? 'focus:ring-red-500' : 'focus:ring-cyan-500'} 
    shadow-sm border-gray-200 focus:border-gray-200 rounded-md block w-[177px] 
    transition duration-150 ease-in-out sm:text-sm sm:leading-5
    ${value ? 'text-black' : 'text-gray-400'} 
  `
</script>

<div>
  <div class="mt-1 flex items-center gap-1 relative">
    <input
      use:focus
      type="date"
      bind:value
      {max}
      {min}
      on:input={handleInput}
      on:focusout={handleFocusOut}
      class:pr-8={error}
      class={inputClass}
    />
    {#if error}
      <div class="absolute inset-y-3 right-0 pr-3 flex items-center pointer-events-none">
        <Icon name={'ExclamationCircle'} class="text-red-500" solid size={5} />
      </div>
    {/if}
  </div>
  <div>
    {#if error}
      <span class="mt-2 text-xs text-red-600">{error}</span>
    {/if}
  </div>
</div>
