<article class='markdown-body'><meta charset="utf-8"><link rel="stylesheet" type="text/css" href="../../../style.css"><h1>Pimboia</h1>
<p>Tags: cadastrarPimboia</p>
<h2>Cadastrar Pimboia</h2>
<p>table:tests/specs/pimboia/cadastrarPimboia.csv</p>
<ul>
<li>Cadastrar Pimboia - &lt;Nº&gt; - &lt;Cenário&gt;
| Usuário   | Valor   | Descrição   | conta   | Tipo de Lançamento   | data   | mensagem   |
|-----------|---------|-------------|---------|----------------------|--------|------------|
| &lt;Usuário&gt; | &lt;Valor&gt; | &lt;Descrição&gt; | &lt;conta&gt; | &lt;Tipo de Lançamento&gt; | &lt;data&gt; | &lt;mensagem&gt; |</li>
</ul>
<ul id="navigation"><center><li class="nav"><a href="./alterarPimboia.html"><</a></li><li class="nav"><a href="../../../index.html">=</a></li></center></article>