<script>
  import { Icon } from 'src/infra/components'
  import { createEventDispatcher } from 'svelte'
  import { fade } from 'svelte/transition'

  const dispatch = createEventDispatcher()

  export let type = 'error'
  export let dismissible = true
</script>

<div
  aria-live="assertive"
  class="inset-0 flex items-end px-4 py-2 pointer-events-none sm:p-2 sm:items-start"
  transition:fade={{ duration: 200 }}
  on:mouseenter={() => dispatch('pause')}
  on:mouseleave={() => dispatch('resume')}
>
  <div class="w-full flex flex-col items-center space-y-4 sm:items-end">
    <div
      class="max-w-sm w-full bg-white shadow-lg rounded-lg pointer-events-auto ring-1 ring-black ring-opacity-5 overflow-hidden"
    >
      <div class="p-4">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            {#if type === 'success'}
              <Icon class={`text-green-500`} name={'CheckCircle'} solid size={5} />
            {:else if type === 'error'}
              <Icon class={`text-red-500`} name={'XCircle'} solid size={5} />
            {/if}
          </div>
          <div class="ml-3 w-0 flex-1 pt-0.5">
            <p class="text-sm font-medium text-gray-900">
              <slot />
            </p>
          </div>
          {#if dismissible}
            <div class="ml-4 flex-shrink-0 flex">
              <button
                on:click={() => dispatch('dismiss')}
                class="bg-white rounded-md inline-flex text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
              >
                <span class="sr-only">Close</span>
                <Icon class={`text-gray-500`} name={'X'} solid />
              </button>
            </div>
          {/if}
        </div>
      </div>
    </div>
  </div>
</div>
