<script lang="ts">
  import { pause, resume, toasts, closeToast } from '@stores'
  import Toast from './Toast.svelte'
</script>

{#if $toasts}
  <section>
    {#each $toasts as toast (toast.id)}
      <Toast
        type={toast.type}
        dismissible={toast.dismissible}
        on:dismiss={() => closeToast(toast.id)}
        on:pause={() => pause(toast.id)}
        on:resume={() => resume(toast.id)}
      >
        {toast.message}
      </Toast>
    {/each}
  </section>
{/if}

<style lang="postcss">
  section {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    flex-direction: column;
    z-index: 1000;
  }
</style>
