<script lang="ts">
  import Svelecte from 'svelecte'

  export let items = []
  export const placeholder = ``
  export let selectedItem
  export const maxSelect = 100
  const required = true

  let inputClassName =
    'relative appearance-none bg-white border px-3 py-2 text-base w-[177px] inline-block'
  let ulOptionsClass = 'origin-top-right absolute right-0 mt-2 w-[177px] rounded-md shadow-lg'
</script>

<Svelecte
  class={inputClassName}
  options={items}
  bind:selection={selectedItem}
  placeholder="Escolha"
/>
<!-- 
<AutoComplete items={['1', '2', 'babilînicaEmChamas', '4']} bind:selectedItem hideArrow>
  <div slot="no-results" let:noResultsText>
    <strong>Não encontrado</strong>
  </div>
</AutoComplete> -->

<!-- 
<MultiSelect
  bind:selected
  {maxSelect}
  {outerDivClass}
  {ulOptionsClass}
  {placeholder}
  {options}
  {required}
/> -->
