<script lang="ts">
  import { Router } from "@roxi/routify";
  import { Settings } from "luxon";
  import { onMount } from "svelte";
  import { routes } from "../.routify/routes";
  import { Toasts } from "@components";
  import { request } from "@api";
  onMount(async () => await request.LOGIN());
</script>

<main>
  <Router {routes} />
</main>
<Toasts />
