<script>
  import { Sidebar, Header, Breadcrumb } from '@components'
</script>

<div class="h-screen flex overflow-hidden bg-gray-100">
  <Sidebar />
  <div class="flex-1 overflow-auto focus:outline-none" tabindex="0">
    <Header />
    <main class="flex-1 pb-8 z-0 overflow-y-auto">
      <Breadcrumb />
      <div class="mt-8">
        <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
          <slot />
        </div>
      </div>
    </main>
  </div>
</div>
