<script>
  import FormInput from './FormInput.svelte';
  export let label = '';
  export let type = 'text';
  export let required = false;
  let validations = {
    required
  };
</script>

<FormInput {label} {type} {validations} />
