<script lang="ts">
  import { Modal, Radio } from '@components'
  import { ModalStore } from '@stores'
  import type { Orgao } from '@types'
  import { createEventDispatcher } from 'svelte'
  const { modalId } = ModalStore
  export let model: any
  export let options: any[]
  export let propToShow: string
  const dispatch = createEventDispatcher()
  const handleSubmit = () => dispatch('submit')
</script>

<Modal on:close>
  <div class="text-lg">Trocar Unidade</div>
  <hr />
  <form on:submit|preventDefault={handleSubmit} class="p-2 relative">
    <Radio orientation="col" {options} {propToShow} bind:model />
    <div class="pt-2 text-sm leading-5 flex justify-center">
      <button
        type="submit"
        class={`inline-flex z items-center px-4 py-2 border transition ease-in-out duration-75 text-sm leading-5 
            font-medium rounded-md border-transparent bg-cyan-600 text-white hover:bg-cyan-500 
            focus:outline-none focus:border-cyan-700 focus:shadow-outline-indigo active:bg-cyan-700`}
      >
        Salvar
      </button>
    </div>
  </form>
</Modal>
