<script lang="ts">
  import ModalTrocar from './ModalTrocar.svelte'
  import { AnimateInOut, Icon } from '@components'
  import { userInfo, ModalStore } from '@stores'
  import { request } from '@api'
  import type { UserInfo } from '@types'
  const { modalId } = ModalStore
  let visible = false
  let trocarOrgaoModal = false
  let trocarPapelModal = false
  let novoOrgao = $userInfo?.acessoAtual?.orgao
  let novoPapel = $userInfo?.acessoAtual?.papelAtual
  let zIndexOfOverlay = ++$modalId
  let zIndexOfMenu = ++$modalId

  const Papeis = {
    chefe: 'Chefe',
    funcionario: 'Funcionário',
    estagiario: 'Estagiário',
  }

  const handleSubmit = async (resource: string, queryParams: string) => {
    await request.GET({
      params: { resource, queryParams },
      onSuccess: async (newUserInfo: UserInfo) => userInfo.set(newUserInfo),
    })
    visible = false
  }

  const handleTrocarOrgaoSubmit = async () => {
    console.log('orgao')
    await handleSubmit('trocaorgao', `?idOrgao=${novoOrgao.id}`)
    trocarOrgaoModal = false
  }
  const handleTrocarPapelSubmit = async () => {
    console.log('papel')
    await handleSubmit('trocapapel', `?idPapel=${novoPapel.id}`)
    trocarPapelModal = false
  }
</script>

{#if visible}
  <div
    class={`fixed top-0 left-0 w-full h-full`}
    style={`z-index: ${zIndexOfOverlay}`}
    on:click={() => (visible = false)}
  />
{/if}

<div class="ml-3 relative">
  <div class="relative">
    <button
      on:click={() => (visible = !visible)}
      class="max-w-xs bg-white rounded-full flex items-center text-sm 
      focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-cyan-500 
      lg:p-2 lg:rounded-md lg:hover:bg-gray-50"
      id="user-menu"
      aria-expanded="false"
      aria-haspopup="true"
    >
      <div class="flex flex-col align-middle text-left w-52 truncate">
        <p class="block ml-3 text-cool-gray-700 text-sm leading-4 font-medium">
          {$userInfo?.nome || 'Visitante'}
        </p>
        <p class="block ml-3 text-cool-gray-700 text-sm leading-3 font-normal truncate">
          <span title={$userInfo?.acessoAtual?.orgao?.nomeExtendido}>
            {$userInfo?.acessoAtual?.orgao?.sigla || ''} - {$userInfo?.acessoAtual?.orgao?.nome ||
              ''}
          </span>
        </p>
        <p class="block ml-3 text-cool-gray-700 text-xs leading-3 font-normal truncate">
          <span title={$userInfo?.acessoAtual?.papelAtual?.nome}>
            {Papeis[$userInfo?.acessoAtual?.papelAtual?.nome] || ''}
          </span>
        </p>
      </div>
      <Icon name="CheveronDown" small />
    </button>
  </div>
  <AnimateInOut {visible}>
    <div
      class="origin-top-right absolute right-0 mt-2 w-48 rounded-md shadow-lg"
      style={`z-index: ${zIndexOfMenu};`}
    >
      <div
        class="py-1 rounded-md bg-white shadow-xs"
        role="menu"
        aria-orientation="vertical"
        aria-labelledby="user-menu"
      >
        {#if $userInfo?.acesso?.length > 1}
          <a
            href="/"
            on:click={() => (trocarOrgaoModal = true)}
            class={`block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer`}
            role="menuitem">Trocar Unidade</a
          >
        {/if}
        {#if $userInfo?.acessoAtual?.papeis?.length > 1}
          <a
            href="/"
            on:click={() => (trocarPapelModal = true)}
            class={`block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer`}
            role="menuitem">Trocar Perfil</a
          >
        {/if}
        <a
          href="/"
          on:click={async () => await request.LOGOUT()}
          class={`block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer`}
          role="menuitem">Logout</a
        >
      </div>
    </div>
  </AnimateInOut>
</div>

{#if trocarOrgaoModal}
  <ModalTrocar
    on:close={() => (trocarOrgaoModal = false)}
    on:submit={handleTrocarOrgaoSubmit}
    options={$userInfo.acesso.map((a) => a.orgao)}
    propToShow={'nome'}
    bind:model={novoOrgao}
  />
{/if}

{#if trocarPapelModal}
  <ModalTrocar
    on:close={() => (trocarPapelModal = false)}
    on:submit={handleTrocarPapelSubmit}
    options={$userInfo.acessoAtual.papeis.map((p) => ({ ...p, nome: Papeis[p.nome] }))}
    propToShow={'nome'}
    bind:model={novoPapel}
  />
{/if}
