<script lang="ts">
  import { isMaxNumber, isMinNumber } from 'src/infra/utils'
  import { Icon } from 'src/infra/components'
  export let autofocus: boolean = false
  export let max: number = 9999999999
  export let min: number = -1
  export let fromTo: 'from' | 'to'
  export let filter: any
  let error = undefined
  let value: string
  const focus = (node: any) => autofocus && node.focus()
  const handleInput = () => {
    let result = Number(value.toString().match(/\d/g)?.join('') || 0) / 100
    error = isMaxNumber(result, max).msg ?? isMinNumber(result, min).msg
    filter = {
      ...filter,
      type: 'range',
      [fromTo]: !error && value ? result : filter[fromTo],
    }
    value = new Intl.NumberFormat('pt-BR', {
      minimumFractionDigits: 2,
      maximumFractionDigits: 2,
    }).format(filter[fromTo])
  }
  $: inputClass = `${error ? 'focus:ring-red-500' : 'focus:ring-cyan-500'} 
    shadow-sm border-gray-200 focus:border-gray-200 rounded-md block w-[177px] 
    transition duration-150 ease-in-out sm:text-sm sm:leading-5 pl-8
    ${value ? 'text-black' : 'text-gray-400'}`
</script>

<div>
  <div class="mt-1 flex items-center gap-1 relative">
    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
      <span class="text-gray-500 sm:text-sm sm:leading-5"> R$ </span>
    </div>
    <input
      use:focus
      type="text"
      bind:value
      {max}
      {min}
      on:input={handleInput}
      class:pr-8={error}
      class={inputClass}
    />
    {#if error}
      <div class="absolute inset-y-3 right-0 pr-3 flex items-center pointer-events-none">
        <Icon name={'ExclamationCircle'} class="text-red-500" solid size={5} />
      </div>
    {/if}
  </div>
  <div>
    {#if error}
      <span class="mt-2 text-xs text-red-600">{error}</span>
    {/if}
  </div>
</div>
