<script lang="ts">
  import RangeInput from './RangeInput.svelte'
  export let label: string
  export let required: boolean = false
  export let max: number = 9999999999
  export let min: number = -1
  export let size: number = 0
  export let autofocus: boolean = false
  export let filter: any
</script>

<div style={`flex: ${size} 1 auto;`} class={`${$$props.class || ''} pr-3`}>
  <label for={label} class="block text-sm font-medium leading-5 text-gray-700">
    {label}{#if required}<span class="text-red-700 text-sm pl-1">*</span>{/if}
  </label>
  <div class="flex gap-1">
    <RangeInput {autofocus} {max} {min} fromTo={'from'} bind:filter />
    <label for={label} class="pt-3 block text-sm font-medium leading-5 text-gray-700"> até </label>
    <RangeInput {autofocus} {max} {min} fromTo={'to'} bind:filter />
  </div>
</div>
