<script>
  export let width = 6;
  export let height = 6;

</script>

<svg
  fill="none"
  class={`h-${height} w-${width} ${$$props.class || ""}`}
  viewBox="0 0 24 24"
  stroke="currentColor"
>
  <path
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="2"
    d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
  />
</svg>
