
      <script>
        export let width = 6;
        export let height = 6;
      </script><svg fill="none" class={`h-${height} w-${width} ${$$props.class || ''}`} viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16V4m0 0L3 8m4-4l4 4m6 0v12m0 0l4-4m-4 4l-4-4"/>
</svg>
