
      <script>
        export let width = 6;
        export let height = 6;
      </script><svg fill="none" class={`h-${height} w-${width} ${$$props.class || ''}`} viewBox="0 0 24 24" stroke="currentColor">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7a4 4 0 11-8 0 4 4 0 018 0zM9 14a6 6 0 00-6 6v1h12v-1a6 6 0 00-6-6zM21 12h-6"/>
</svg>
