<script>
  export let width = 6;
  export let height = 6;
</script>

<svg
  fill="none"
  class={`h-${height} w-${width} ${$$props.class || ''}`}
  viewBox="0 0 24 24"
  stroke="currentColor">
  <path
    stroke-linecap="round"
    stroke-linejoin="round"
    stroke-width="2"
    d="M6 18L18 6M6 6l12 12" />
</svg>
