<script>
    import { scale } from "svelte/transition";
    import { cubicIn, cubicOut } from "svelte/easing";
    export let inDuration = 100;
    export let inStart = 0.95;
    export let outDuration = 75;
    export let outStart = 0.95;
    export let visible = false;
</script>

{#if visible}
    <div
        in:scale={{ duration: inDuration, start: inStart, easing: cubicOut }}
        out:scale={{ duration: outDuration, start: outStart, easing: cubicIn }}>
        <slot />
    </div>
{/if}
