<script lang="ts">
  import { Icon } from '@components'
  import { createEventDispatcher } from 'svelte'
  export let text: string = ''
  const dispatcher = createEventDispatcher()
</script>

<span
  class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium leading-5 bg-cyan-100 text-cyan-800"
>
  {text}
  <button
    type="button"
    on:click={() => dispatcher('delete')}
    class="flex-shrink-0 -mr-0.5 ml-1.5 inline-flex text-cyan-500 focus:outline-none focus:text-cyan-700"
    aria-label="Remove large badge"
  >
    <Icon name={'X'} small />
  </button>
</span>
