<script>
  import { url, page } from '@roxi/routify'
  import { Icon } from '@components'
  let routes
  $: if ($url) {
    routes = $page.path
      .split('/')
      .reduce((acc, label) => {
        if (label === '') return [{ path: `/`, label: 'Início' }]
        const lastPath = acc[acc.length - 1].path
        const path = lastPath + (lastPath === '/' ? label : '/' + label)
        return [...acc, { path, label }]
      }, [])
      .filter((r) => r.label !== 'index')
  }
</script>

<div class="bg-white shadow">
  <div class="px-4 sm:px-6 lg:max-w-6xl lg:mx-auto lg:px-8">
    <div class="py-3 md:flex md:items-center md:justify-between lg:border-t lg:border-gray-200">
      <div class="flex-1 min-w-0">
        <div class="flex content-center justify-start">
          {#each routes as route, index}
            <a
              class="px-2 text-sm text-cyan-600 font-bold hover:text-cyan-700"
              href={$url(route.path)}
            >
              {route.label}
            </a>
            {#if index < routes.length - 1}
              <Icon name={'CheveronRight'} small class="mt-0.5 text-gray-600" />
            {/if}
          {/each}
        </div>
      </div>
    </div>
  </div>
</div>
