<script>
  import { Icon, AnimateInOut } from '@components'
</script>

<div>
  <label for="select" class="block text-sm font-medium text-gray-700">Location</label>
  <select
    id="select"
    class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-cyan-500 focus:border-cyan-500 sm:text-sm rounded-md"
  >
    <option>USA</option>
    <option selected>Canada</option>
    <option>EU</option>
  </select>
</div>
