<script lang="ts">
  import {
    Datatable,
    PageHeader,
    ModalForm,
    ModalDelete,
    Loading,
    Filter,
  } from "@components";
  import type { ConsoleState } from "@types";
  import { createEventDispatcher } from "svelte";
  export let props: ConsoleState<any>;
  export let entity: any;
  const dispatch = createEventDispatcher();
  const {
    consoleLabel,
    loadingGrid,
    showCreateModal,
    showUpdateModal,
    showDeleteModal,
    consoles,
  } = props;
  const handleClose = (close) => {
    props[`on${close[0].toUpperCase() + close.slice(1)}`]();
    dispatch(close);
  };
</script>

<PageHeader label={consoleLabel} {props} />

{#if $showCreateModal}
  <ModalForm
    {props}
    on:submit={() => dispatch("create")}
    on:close={() => handleClose("createClose")}
  >
    <slot slot="headerCreate" name="headerCreate" />
    <slot slot="form" name="form" />
  </ModalForm>
{/if}

{#if $showUpdateModal}
  <ModalForm
    {props}
    on:submit={() => dispatch("update")}
    on:close={() => handleClose("updateClose")}
  >
    <slot slot="headerUpdate" name="headerUpdate" />
    <slot slot="form" name="form" />
  </ModalForm>
  <!-- <ModalUpdate {props} on:update on:updateClose>
    <slot slot="headerUpdate" name="headerUpdate" />
    <slot slot="form" name="form" />
  </ModalUpdate> -->
{/if}

{#if $showDeleteModal}
  <ModalDelete {props} on:delete on:deleteClose>
    <slot slot="headerDelete" name="headerDelete" />
    <span slot="content">Deseja excluir os registros selecionados?</span>
  </ModalDelete>
{/if}

<Filter {props}>
  <slot slot="filter" name="filter" />
</Filter>

<div class="relative">
  {#if $loadingGrid}
    <Loading grid class="absolute left-1/2 top-1/3" />
  {/if}
  <Datatable
    class={`${$loadingGrid ? "opacity-50" : ""}`}
    {props}
    bind:entity
  />
</div>

{#each consoles as { console, onCreate, onUpdate, onDelete }}
  <div class="hidden">
    <svelte:component
      this={console}
      on:create={async () => await onCreate(props)}
      on:update={async () => await onUpdate(props)}
      on:delete={async () => await onDelete(props)}
    />
  </div>
{/each}
