<div class="bg-white overflow-hidden shadow rounded-lg">
  <div class="p-5">
    <slot />
  </div>
  <div class="bg-cool-gray-100 px-5 py-3">
    <div class="text-sm leading-5 flex justify-end">
      <button
        type="button"
        class="inline-flex items-center mr-2 px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-cool-gray-500 border-cool-gray-500 hover:text-cool-gray-700 hover:border-cool-gray-700 focus:outline-none focus:shadow-outline-indigo transition ease-in-out duration-75">
        Limpar
      </button>
      <button
        type="button"
        class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-teal-600 hover:bg-teal-500 focus:outline-none focus:border-teal-700 focus:shadow-outline-indigo active:bg-teal-700 transition ease-in-out duration-75">
        Filtrar
      </button>
    </div>
  </div>
</div>

<!-- <FilterForm>
  <form on:submit|preventDefault={handleSubmit}>
    <Row>
      <InputMoney size={0} bind:value={formulario.valor} label="Valor" max={999999999999} min={-999999999999} />
      <InputDate size={0} bind:value={formulario.data} label="Data" min={'2015-01-01'} max={'2018-12-14'} />
      <InputRadio
        size={0}
        label={'Tipo de Lançamento'}
        bind:value={formulario.tipoLancamento}
        options={[{ id: 1, label: 'Débito' }, { id: 2, label: 'Crédito' }]} />
    </Row>
    <Row />
  </form>
</FilterForm> -->
