<script>
  export let model;
  export let errors;
  export let save;
</script>

<form on:submit|preventDefault class="p-2">
  <slot />
</form>
<hr />
<div class="pt-2 text-sm leading-5 flex justify-end">
  <button
    on:click={() => (model = undefined)}
    type="button"
    class="inline-flex items-center mr-2 px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-cool-gray-500 border-cool-gray-500 hover:text-cool-gray-700 hover:border-cool-gray-700 focus:outline-none focus:shadow-outline-indigo transition ease-in-out duration-75">
    Limpar
  </button>
  <button
    on:click={save}
    disabled={model && errors}
    type="submit"
    class="inline-flex items-center px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-teal-600 hover:bg-teal-500 focus:outline-none focus:border-teal-700 focus:shadow-outline-indigo active:bg-teal-700 transition ease-in-out duration-75">
    Salvar
  </button>
</div>
