<script>
  import { Profile, Icon } from '@components'
  import { SidebarStore } from '@stores'
</script>

<div class=" relative z-0 flex-shrink-0 flex h-16 bg-white border-b border-gray-200 lg:border-none">
  <button
    on:click={SidebarStore.open}
    class="px-4 border-r border-cool-gray-200 text-cool-gray-400 focus:outline-none focus:bg-cool-gray-100 focus:text-gray-600 lg:hidden"
    aria-label="Open sidebar"
  >
    <Icon name={'MenuAlt1'} />
  </button>
  <div class="justify-end flex-1 px-4 flex sm:px-6 lg:max-w-6xl lg:mx-auto lg:px-8">
    <div class="ml-4 flex items-center md:ml-6">
      <Profile />
    </div>
  </div>
</div>
