<script lang="ts">
  import type { ErrorProp } from '@types'
  import { isRequired, isMaxLength, isMinLength } from '@utils'
  import { getContext, tick } from 'svelte'

  type T = $$Generic<any>

  export const modelType: T = undefined
  export let label: string
  export let bind: keyof T
  export let required: boolean = false
  export let placeholder = ''
  export let max: number = 2000
  export let min: number = 0
  export let size: number = 0

  const { isCreate, isUpdate, formErrors, formLabels, model } = getContext('contextProps')
  let value: string
  let validations: ErrorProp[] = [isMaxLength(value, max), isMinLength(value, min)]

  $formLabels[bind] = label

  if ($isCreate) {
    $model[bind] = undefined
  }

  if ($isUpdate) {
    value = $model[bind]
  }

  let validate = () => {
    validations = [isMaxLength(value, max), isMinLength(value, min), isRequired(value, required)]
  }

  $: errorMessage = validations.find((v: any) => v.msg)
  $: $formErrors[label] = validations.some((v) => v.isInvalid)

  const handleInput = async () => {
    validate()
    await tick()
    value = $formErrors[label] && value.length > min ? value.slice(0, max) : value
    $model[bind] = value
  }
  const handleFocusOut = () => validate()
</script>

<div style={`flex: ${size} 1 auto;`} class={`${$$props.class || ''} pr-3`}>
  <label for={label} class="block text-sm font-medium leading-5 text-gray-700">
    {label}{#if required}<span class="text-red-700 text-sm pl-1">*</span>{/if}
  </label>
  <div class="mt-1 rounded-md shadow-sm">
    <input
      type="text"
      autocomplete="off"
      bind:value
      id={label}
      {placeholder}
      {max}
      {min}
      on:input={handleInput}
      on:focusout={handleFocusOut}
      class={`${errorMessage ? 'focus:ring-red-500' : 'focus:ring-cyan-500'} 
      shadow-sm border-gray-200 focus:border-gray-200 rounded-md block w-[177px] 
      transition duration-150 ease-in-out sm:text-sm sm:leading-5
      ${value ? 'text-black' : 'text-gray-400'}`}
    />
    {#if errorMessage}
      <span class="mt-2 text-xs text-red-600">{errorMessage.msg}</span>
    {/if}
  </div>
</div>
