<script lang="ts">
  import type { DateFormat, ErrorProp } from 'src/infra/types'
  import { isMaxDate, isMinDate, isRequired } from 'src/infra/utils'
  import { Icon } from 'src/infra/components'
  import { getContext } from 'svelte'

  type T = $$Generic<any>

  export const modelType: T = undefined
  export let label: string
  export let bind: keyof T
  export let required: boolean = false
  export let max: DateFormat = '2099-01-01'
  export let min: DateFormat = '1900-01-01'
  export let size: number = 0

  const { isCreate, isUpdate, formErrors, formLabels, model } = getContext('contextProps')
  $formLabels[bind] = label
  let value: string
  let validations: ErrorProp[] = [isMaxDate(value, max), isMinDate(value, min)]

  if ($isCreate) {
    $model[bind] = undefined
  }

  if ($isUpdate) {
    value = $model[bind]
  }

  let validate = () => {
    validations = [isMaxDate(value, max), isMinDate(value, min), isRequired(value, required)]
  }

  $: errorMessage = validations.find((v: any) => v.msg)
  $: $formErrors[label] = validations.some((v) => v.isInvalid)

  const handleInput = () => {
    validate()
    $model[bind] = value
  }
  const handleFocusOut = () => validate()
</script>

<div style={`flex: ${size} 1 auto;`} class={`${$$props.class || ''} pr-3`}>
  <label for={label} class="block text-sm font-medium text-gray-700">
    {label}{#if required}<span class="text-red-700 text-sm pl-1">*</span>{/if}
  </label>
  <div class="mt-1 relative rounded-md shadow-sm">
    <input
      type="date"
      id={label}
      {max}
      {min}
      bind:value
      on:input={handleInput}
      on:focusout={handleFocusOut}
      class={`${errorMessage ? 'focus:ring-red-500' : 'focus:ring-cyan-500'} 
      shadow-sm border-gray-200 focus:border-gray-200 rounded-md block min-w-[177px] 
      transition duration-150 ease-in-out sm:text-sm sm:leading-5
      ${value ? 'text-black' : 'text-gray-400'}`}
    />
    {#if errorMessage}
      <div class="absolute inset-y-0 right-0 pr-8 flex items-center pointer-events-none">
        <Icon name={'ExclamationCircle'} class="text-red-500" solid size={5} />
      </div>
    {/if}
  </div>
  {#if errorMessage}
    <span class="mt-2 text-xs text-red-600">{errorMessage.msg}</span>
  {/if}
</div>
