<script lang="ts">
  import type { ErrorProp } from '@types'
  import { isRequired } from '@utils'
  import { getContext } from 'svelte'

  type T = $$Generic<any>

  export const modelType: T = undefined
  export let label: string
  export let bind: keyof T
  export let options: Array<any> = []
  export let size: number = 0
  export let required: boolean = false
  export let propToBind: string | undefined = undefined
  export let orientation: 'row' | 'col' = 'row'

  const { isCreate, isUpdate, formErrors, formLabels, model } = getContext('contextProps')

  $formLabels[bind] = label
  let value: any
  let validations: ErrorProp[] = []

  let validate = () => {
    validations = [isRequired(value, required)]
  }

  if ($isCreate) {
    $model[bind] = undefined
  }

  if ($isUpdate) {
    value = propToBind
      ? options.find((o) => o[propToBind as string] === $model[bind])
      : options.find((o) => Object.is(o, $model[bind]))
  }

  $: errorMessage = validations.find((v: any) => v.msg)
  $: $formErrors[label] = validations.some((v) => v.isInvalid)

  const handleChange = () => {
    validate()
    $model[bind] = propToBind ? value[propToBind] : value
  }
  const handleFocusOut = () => validate()
</script>

<div style={`flex: ${size} 1 auto;`} class={`${$$props.class || ''} pr-3`}>
  <div class="mt-1 rounded-md">
    <fieldset>
      <legend class="text-sm font-medium text-gray-900">
        {label}
        {#if required}<span class="text-red-700 text-sm pl-1">*</span>{/if}
      </legend>
      <div class={`flex flex-${orientation}`}>
        {#each options as option, i (i)}
          <div class="mt-3 mr-2">
            <div class="relative flex items-start">
              <div class="flex items-center h-5">
                <input
                  id={option.label}
                  type="radio"
                  value={option}
                  bind:group={value}
                  on:change={handleChange}
                  on:focusout={handleFocusOut}
                  class="focus:ring-cyan-500  h-4 w-4 text-cyan-500 transition duration-150 ease-in-out"
                />
              </div>
              <div class="ml-3 text-sm leading-5">
                <label for={option.label} class="font-medium text-gray-700">{option.label}</label>
              </div>
            </div>
          </div>
        {/each}
      </div>
    </fieldset>
    {#if errorMessage}
      <span class="mt-2 text-xs text-red-600">{errorMessage.msg}</span>
    {/if}
  </div>
</div>
