<script lang="ts">
  import type { ErrorProp } from '@types'
  import { isMaxNumber, isMinNumber, isRequired } from '@utils'
  import { Icon } from '@components'
  import { getContext, tick } from 'svelte'

  type T = $$Generic<any>

  export const modelType: T = undefined
  export let label: string
  export let bind: keyof T
  export let placeholder = ''
  export let required: boolean = false
  export let max: number = 999999
  export let min: number = -1
  export let size: number = 0

  const { isCreate, isUpdate, formErrors, formLabels, model } = getContext('contextProps')
  $formLabels[bind] = label
  let value: string
  let validations: ErrorProp[] = [isMaxNumber($model[bind], max), isMinNumber($model[bind], min)]

  let validate = () => {
    validations = [
      isMaxNumber($model[bind], max),
      isMinNumber($model[bind], min),
      isRequired(value, required),
    ]
  }

  if ($isCreate) {
    $model[bind] = undefined
  }

  if ($isUpdate) {
    value = new Intl.NumberFormat('pt-BR', {
      minimumFractionDigits: 2,
      maximumFractionDigits: 2,
    }).format($model[bind])
  }

  $: errorMessage = validations.find((v: any) => v.msg)
  $: $formErrors[label] = validations.some((v) => v.isInvalid)

  const handleInput = async () => {
    let previousModel = $model[bind]
    $model[bind] = Number(value.toString().match(/\d/g)?.join('') || 0) / 100
    validate()
    await tick()
    $model[bind] = $formErrors[label] && $model[bind] > min ? previousModel : $model[bind]
    value = new Intl.NumberFormat('pt-BR', {
      minimumFractionDigits: 2,
      maximumFractionDigits: 2,
    }).format($model[bind])
  }
  const handleFocusOut = () => validate()
</script>

<div style={`flex: ${size} 1 auto;`} class={`${$$props.class || ''} pr-3`}>
  <label for={label} class="block text-sm font-medium text-gray-700">
    {label}{#if required}<span class="text-red-700 pl-1">*</span>{/if}
  </label>
  <div class="mt-1 relative rounded-md shadow-sm">
    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
      <span class="text-gray-500 sm:text-sm sm:leading-5"> R$ </span>
    </div>
    <input
      type="text"
      autocomplete="off"
      id={label}
      {placeholder}
      {max}
      {min}
      bind:value
      on:input={handleInput}
      on:focusout={handleFocusOut}
      class={`${errorMessage ? 'focus:ring-red-500' : 'focus:ring-cyan-500'} shadow-sm
      border-gray-200 focus:border-gray-200 rounded-md block w-[177px] transition 
      duration-150 ease-in-out sm:text-sm sm:leading-5 pl-8 text-black`}
    />
    {#if errorMessage}
      <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
        <Icon name={'ExclamationCircle'} class="text-red-500" solid size={5} />
      </div>
    {/if}
  </div>
  {#if errorMessage}
    <span class="mt-2 text-xs text-red-600">{errorMessage.msg}</span>
  {/if}
</div>
