<script lang="ts">
  export let button: boolean = false;
  export let grid: boolean = false;
  export let size: number | undefined = undefined;
  const getSize = () => {
    if (button) return 4;
    if (grid) return 20;
    if (size) return size;
    return 64;
  };
</script>

<style style lang="postcss">
  .loader {
    border-top-color: #3498db;
    -webkit-animation: spinner 1.5s linear infinite;
    animation: spinner 1.5s linear infinite;
  }

  @-webkit-keyframes spinner {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
</style>

<div
  class={`${$$props.class || ''} loader ease-linear rounded-full border-8 border-t-8 border-gray-200 h-${getSize()} w-${getSize()}`} />
