<script lang="ts">
  import { createEventDispatcher } from 'svelte'
  import type { ConsoleState } from 'src/infra/types'
  import { Loading, Modal } from 'src/infra/components'

  export let props: ConsoleState<any>
  const { modelToDelete, loadingDeleteForm, errors } = props
  const dispatch = createEventDispatcher()
  const handleDelete = () => dispatch('delete', { ids: $modelToDelete })
  const handleDeleteClose = () => {
    props.onDeleteClose()
    dispatch('deleteClose')
  }
  $: console.log('modelToDelete no modal', $modelToDelete)
</script>

<Modal on:close={handleDeleteClose}>
  <div class="text-lg">
    <slot name="headerDelete" />
  </div>
  <hr />
  <div class="text-center">
    <slot name="content" />
  </div>
  <div class="pt-2 text-sm leading-5 flex justify-end">
    <button
      on:click={handleDeleteClose}
      class="inline-flex items-center mr-2 px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-gray-500 border-gray-500 hover:text-gray-700 hover:border-gray-700 focus:outline-none focus:shadow-outline-indigo transition ease-in-out duration-75"
    >
      Não
    </button>
    {#if $loadingDeleteForm}
      <button
        class={`inline-flex items-center px-4 py-2 border transition ease-in-out duration-75 text-sm leading-5 font-medium rounded-md border-transparent bg-cyan-600 text-white hover:bg-cyan-500 focus:outline-none focus:border-cyan-700 focus:shadow-outline-indigo active:bg-cyan-700`}
      >
        <Loading button />
      </button>
    {:else}
      <button
        on:click={handleDelete}
        class={`inline-flex items-center px-4 py-2 border transition ease-in-out duration-75 text-sm leading-5 font-medium rounded-md border-transparent bg-cyan-600 text-white hover:bg-cyan-500 focus:outline-none focus:border-cyan-700 focus:shadow-outline-indigo active:bg-cyan-700`}
      >
        Sim
      </button>
    {/if}
  </div>
</Modal>
