<script lang="ts">
  import { createEventDispatcher, onDestroy, onMount } from 'svelte'
  const dispatch = createEventDispatcher()
  import { ModalStore } from '@stores'

  let { modalId } = ModalStore

  let close = () => dispatch('close')

  let modal
  let overlay
  let overlayVisibilityIndex
  let modalVisibilityIndex
  export const width = '2/3'

  const handle_keydown = (e) => {
    // if (e.key === 'Escape') {
    //   close();
    //   return;
    // }

    if (e.key === 'Tab') {
      // trap focus
      const nodes = modal.querySelectorAll('*')
      const tabbable: any = Array.from(nodes).filter((n: any) => n.tabIndex >= 0)

      let index = tabbable.indexOf(document.activeElement)
      if (index === -1 && e.shiftKey) index = 0

      index += tabbable.length + (e.shiftKey ? -1 : 1)
      index %= tabbable.length

      tabbable[index].focus()
      e.preventDefault()
    }
  }

  const previously_focused: any = typeof document !== 'undefined' && document.activeElement

  if (previously_focused) {
    onDestroy(() => previously_focused.focus())
  }

  onMount(() => {
    modal.id = `modal${$modalId}`
    overlayVisibilityIndex = ++$modalId
    modalVisibilityIndex = overlayVisibilityIndex + 1
    document.body.appendChild(modal)
    document.body.appendChild(overlay)
  })
</script>

<svelte:window on:keydown={handle_keydown} />
<div
  class={`fixed top-0 left-0 w-full h-full bg-black bg-opacity-25`}
  style={`z-index: ${overlayVisibilityIndex}`}
  on:click={close}
  bind:this={overlay}
/>

<div
  class={`fixed left-1/2 top-1/2 w-2/3 max-w-7xl max-h-screen overflow-auto p-4 bg-gray-50 shadow-2xl rounded-lg transform -translate-x-1/2 -translate-y-1/2`}
  style={`z-index: ${modalVisibilityIndex}`}
  role="dialog"
  aria-modal="true"
  bind:this={modal}
>
  <slot />
</div>
