<script lang="ts">
  import { createEventDispatcher } from 'svelte'
  import type { ErrorProp, InputError } from '@types'
  import Modal from './Modal.svelte'
  const dispatcher = createEventDispatcher()

  export let model: any
  $: modelValues = Object.values(model).map((m: any) => m.model)
  $: errors = Object.values(model).map((m: any) => m.error)
  $: errorValues = Object.values(errors).flatMap((e: InputError) => Object.values(e))
  $: isFormInvalid =
    modelValues.filter((m) => m).length === 0 ||
    errorValues.filter((e: ErrorProp) => e.isInvalid).length > 0
</script>

<Modal on:close>
  <div class="text-lg">
    <slot name="header" />
  </div>
  <hr />
  <slot name="console" />
  <div class="pt-2 text-sm leading-5 flex justify-end">
    <button
      type="reset"
      class="inline-flex items-center mr-2 px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-cool-gray-500 border-cool-gray-500 hover:text-cool-gray-700 hover:border-cool-gray-700 focus:outline-none focus:shadow-outline-indigo transition ease-in-out duration-75"
    >
      Limpar
    </button>
    <button
      disabled={isFormInvalid}
      onSelect={() => dispatcher('select')}
      class={`inline-flex items-center px-4 py-2 border transition ease-in-out duration-75 text-sm leading-5 font-medium rounded-md ${
        isFormInvalid
          ? 'cursor-not-allowed border-cool-gray-300 bg-cool-gray-300 text-cool-gray-600'
          : 'border-transparent bg-teal-600 text-white hover:bg-teal-500 focus:outline-none focus:border-teal-700 focus:shadow-outline-indigo active:bg-teal-700'
      }`}
    >
      Salvar
    </button>
  </div>
</Modal>
