<script lang="ts">
  import { createEventDispatcher } from 'svelte'
  import type { BasicConsoleState } from 'src/infra/types'
  import { Loading, Modal } from 'src/infra/components'

  export let props: BasicConsoleState<any>
  const { model, errors, loadingCreateForm, formErrors } = props
  const dispatch = createEventDispatcher()
  const handleSubmit = () => dispatch('create')
  const handleCreateClose = () => {
    props.onCreateClose()
    dispatch('createClose')
  }
  $: modelValues = Object.values($model).map((m) => m)
  $: errorValues = Object.values($formErrors).some((error) => error)
  $: formHasError = errorValues || modelValues.length === 0
</script>

<Modal on:close={handleCreateClose}>
  <div class="text-lg">
    <slot name="headerCreate" />
  </div>
  <hr />
  <form on:submit|preventDefault={handleSubmit} class="p-2">
    <slot name="form" />
    <div class="bg-red-100">
      {#each $errors as error, i (i)}
        <div class="text-center font-bold text-red-400 ">
          {`${error.field} - ${error.message}`}
        </div>
      {/each}
    </div>
    <div class="pt-2 text-sm leading-5 flex justify-end">
      <button
        type="reset"
        class="inline-flex items-center mr-2 px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-gray-500 border-gray-500 hover:text-gray-700 hover:border-gray-700 focus:outline-none focus:shadow-outline-indigo transition ease-in-out duration-75"
      >
        Limpar
      </button>
      {#if $loadingCreateForm}
        <button
          disabled={formHasError}
          type="submit"
          class={`inline-flex items-center px-4 py-2 border transition ease-in-out duration-75 text-sm leading-5 font-medium rounded-md ${
            formHasError
              ? 'cursor-not-allowed border-gray-300 bg-gray-300 text-gray-600'
              : 'border-transparent bg-cyan-600 text-white hover:bg-cyan-500 focus:outline-none focus:border-cyan-700 focus:shadow-outline-indigo active:bg-cyan-700'
          }`}
        >
          <Loading button />
        </button>
      {:else}
        <button
          disabled={formHasError}
          type="submit"
          class={`inline-flex items-center px-4 py-2 border transition ease-in-out duration-75 text-sm leading-5 font-medium rounded-md ${
            formHasError
              ? 'cursor-not-allowed border-gray-300 bg-gray-300 text-gray-600'
              : 'border-transparent bg-cyan-600 text-white hover:bg-cyan-500 focus:outline-none focus:border-cyan-700 focus:shadow-outline-indigo active:bg-cyan-700'
          }`}
        >
          Salvar
        </button>
      {/if}
    </div>
  </form>
</Modal>
