<script lang="ts">
  import { createEventDispatcher } from 'svelte'
  import type { BasicConsoleState, ErrorProp, InputError } from 'src/infra/types'
  import { Loading, Modal } from 'src/infra/components'

  export let props: BasicConsoleState<any>
  const { model, errors, loadingUpdateForm } = props
  const dispatch = createEventDispatcher()
  const handleSubmit = () => dispatch('update')
  const handleUpdateClose = () => {
    props.onUpdateClose()
    dispatch('updateClose')
  }
  $: modelValues = Object.values($model).map((m: any) => m.model)
  $: inputErrors = Object.values($model).map((m: any) => m.error)
  $: errorValues = Object.values(inputErrors).flatMap((e: InputError) => Object.values(e))
  $: isFormInvalid =
    modelValues.filter((m) => m).length === 0 ||
    errorValues.filter((e: ErrorProp) => e.isInvalid).length > 0
</script>

<Modal on:close={handleUpdateClose}>
  <div class="text-lg">
    <slot name="headerUpdate" />
  </div>
  <hr />
  <form on:submit|preventDefault={handleSubmit} class="p-2">
    <slot name="form" />
    <div class="bg-red-100">
      {#each $errors as error, i (i)}
        <div class="text-center font-bold text-red-400 ">
          {`${error.field} - ${error.message}`}
        </div>
      {/each}
    </div>
    <div class="pt-2 text-sm leading-5 flex justify-end">
      <button
        type="reset"
        class="inline-flex items-center mr-2 px-4 py-2 border border-transparent text-sm leading-5 font-medium rounded-md text-gray-500 border-gray-500 hover:text-gray-700 hover:border-gray-700 focus:outline-none focus:shadow-outline-indigo transition ease-in-out duration-75"
      >
        Limpar
      </button>
      {#if $loadingUpdateForm}
        <button
          disabled={isFormInvalid}
          type="submit"
          class={`inline-flex items-center px-4 py-2 border transition ease-in-out duration-75 text-sm leading-5 font-medium rounded-md ${
            isFormInvalid
              ? 'cursor-not-allowed border-gray-300 bg-gray-300 text-gray-600'
              : 'border-transparent bg-cyan-600 text-white hover:bg-cyan-500 focus:outline-none focus:border-cyan-700 focus:shadow-outline-indigo active:bg-cyan-700'
          }`}
        >
          <Loading button />
        </button>
      {:else}
        <button
          disabled={isFormInvalid}
          type="submit"
          class={`inline-flex items-center px-4 py-2 border transition ease-in-out duration-75 text-sm leading-5 font-medium rounded-md ${
            isFormInvalid
              ? 'cursor-not-allowed border-gray-300 bg-gray-300 text-gray-600'
              : 'border-transparent bg-cyan-600 text-white hover:bg-cyan-500 focus:outline-none focus:border-cyan-700 focus:shadow-outline-indigo active:bg-cyan-700'
          }`}
        >
          Alterar
        </button>
      {/if}
    </div>
  </form>
</Modal>
