<script lang="ts">
  import type { ConsoleState } from "@types";
  import { Icon } from "@components";

  export let label: string = "label";
  export let buttonLabel: string = "Cadastrar";
  export let props: ConsoleState<any>;
  const isCadastrar = props.getActions().find((a) => a.name === "CADASTRAR");
</script>

<div class="py-2 ">
  <div
    class="max-w-6xl mx-auto text-sm leading-5 flex justify-between items-center"
  >
    <h3 class="text-lg leading-6 font-medium text-gray-900">{label}</h3>
    {#if isCadastrar}
      <button
        on:click={() => props.onCreateOpen()}
        type="button"
        class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-bold leading-5 rounded-md text-white bg-cyan-600 hover:bg-cyan-500 focus:outline-none focus:border-cyan-700 focus:shadow-outline-indigo active:bg-cyan-700 transition ease-in-out duration-75"
      >
        <Icon name={"Plus"} class="text-white -ml-1 mr-2 " small solid />
        {buttonLabel}
      </button>
    {/if}
  </div>
</div>
