<script lang="ts">
  import { userInfo } from '@stores'

  export let label: string = ''
  export let options: Array<any> = []
  export let size: number = 0
  export let required: boolean = false
  export let propToBind: string | undefined = undefined
  export let propToShow: string
  export let orientation: 'row' | 'col' = 'row'
  export let model: any

  let value: any

  model = undefined

  const handleChange = () => {
    model = propToBind ? value[propToBind] : value
  }
</script>

<div style={`flex: ${size} 1 auto;`} class={`${$$props.class || ''} pr-3`}>
  <div class="mt-1 rounded-md">
    <fieldset>
      <legend class="text-sm font-medium text-gray-900">
        {label}
        {#if required}<span class="text-red-700 text-sm pl-1">*</span>{/if}
      </legend>
      <div class={`flex flex-${orientation}`}>
        {#each options as option, i (i)}
          <div class="mt-3 mr-2">
            <div class="relative flex items-start">
              <div class="flex items-center h-5">
                <input
                  id={label}
                  type="radio"
                  value={option}
                  bind:group={value}
                  on:change={handleChange}
                  class="focus:ring-cyan-500  h-4 w-4 text-cyan-500 transition duration-150 ease-in-out"
                />
              </div>
              <div class="ml-3 text-sm leading-5">
                <label for={label} class="font-medium text-gray-700">{option[propToShow]}</label>
              </div>
            </div>
          </div>
        {/each}
      </div>
    </fieldset>
  </div>
</div>
