<script lang="ts">
  import { Icon } from 'src/infra/components'
  import { url, page } from '@roxi/routify'
  import { SidebarStore } from 'src/infra/stores'

  const adapter = {
    'index': 'Início',
    ':post': 'Resumo',
  }
  const labelResolver = (title: string): string => adapter[title] ?? title
</script>

{#if $SidebarStore}
  <!-- Mobile menu - troca para lg:hidden -->
  <div class="h-screen flex overflow-hidden bg-gray-100">
    <div class="fixed inset-0 flex z-40 lg:hidden" role="dialog" aria-modal="true">
      <div class="fixed inset-0 bg-gray-600 bg-opacity-75" aria-hidden="true" />
      <div class="relative flex-1 flex flex-col max-w-xs w-full pt-5 pb-4 bg-cyan-700">
        <div class="absolute top-0 right-0 -mr-12 pt-2">
          <button
            on:click={SidebarStore.close}
            class="ml-1 flex items-center justify-center h-10 w-10 rounded-full focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white hover:bg-gray-600"
          >
            <!-- <span class="sr-only">Close sidebar</span> -->
            <Icon name={'X'} class="text-white" />
            <!-- class="hover:text-white hover:bg-cool-gray-700 rounded-full hover:m-2" /> -->
          </button>
        </div>
        <div class="flex-shrink-0 flex items-center px-4">
          <p>MPDFT</p>
        </div>
        <div class="mt-5 flex-shrink-0 h-full divide-y divide-cyan-800 overflow-y-auto">
          <nav class="px-2 space-y-1">
            <a
              class="bg-cyan-800 text-white group flex items-center px-2 py-2 text-base font-medium rounded-md"
              href={$url($page.path)}>{labelResolver($page.title)}</a
            >
            <hr class="h-px mt-6 bg-teal-800 border-none" />

            {#each $page.parent.children as { path, title }}
              <a
                class="text-cyan-100 hover:text-white hover:bg-cyan-600 group flex items-center px-2 py-2 text-base font-medium rounded-md"
                href={$url(path)}>{labelResolver(title)}</a
              >
            {/each}
          </nav>
        </div>
      </div>
      <div class="flex-shrink-0 w-14" aria-hidden="true" />
    </div>
  </div>

  <!-- Static sidebar for desktop -->
  <!-- hidden -->
  <div class="lg:flex lg:flex-shrink-0">
    <div class="flex flex-col w-64">
      <!-- Sidebar component, swap this element with another sidebar if you like -->
      <div class="flex flex-col flex-grow bg-cyan-700 pt-5 pb-4 overflow-y-auto">
        <div class="text-white text-5xl text-center font-extrabold">
          <p>MPDFT</p>
        </div>
        <nav
          class="mt-8 flex-1 flex flex-col divide-y divide-cyan-800
        overflow-y-auto"
        >
          <div class="px-2 space-y-1">
            <a
              class="bg-cyan-800 text-white group flex items-center px-2 py-2 text-base font-medium rounded-md"
              href={$url($page.path)}>{labelResolver($page.title)}</a
            >
            {#each $page.parent.children as { path, title }}
              <a
                class="text-cyan-100 hover:text-white hover:bg-cyan-600 group flex items-center px-2 py-2 text-base font-medium rounded-md"
                href={$url(path)}>{labelResolver(title)}</a
              >
            {/each}
          </div>
        </nav>
      </div>
    </div>
  </div>
{/if}
