<script lang="ts">
  import { createEventDispatcher, getContext } from 'svelte'
  import type { ErrorProp } from '@types'
  import { isRequired } from '@utils'
  import { Icon, Modal, Badge, Loading } from '@components'

  type T = $$Generic<any>

  export const modelType: T = undefined
  export let label: string
  export let bind: keyof T
  export let propToShow: string
  export let propToBind: string | undefined = undefined
  export let required: boolean = false
  export let size: number = 0
  export let component: any
  export let state: any

  const { isUpdate, formErrors, formLabels, model } = getContext('contextProps')
  const dispatcher = createEventDispatcher()

  let value: any, modelTemp: any, valueTemp: any
  let textToShow: string
  let showModal: boolean = false
  let validations: ErrorProp[] = []
  let validate = () => {
    validations = [isRequired(value, required)]
  }

  $formLabels[bind] = label
  $: errorMessage = validations.find((v: any) => v.msg)
  $: $formErrors[label] = validations.some((v) => v.isInvalid)

  const handleFocusOut = () => validate()

  const handleChooserOpen = () => {
    modelTemp = $model[bind]
    valueTemp = value
    showModal = true
  }

  const handleChooserClose = () => {
    dispatcher('close')
    value = valueTemp
    $model[bind] = modelTemp
    showModal = false
  }

  const handleDelete = () => {
    validate()
    $model[bind] = undefined
    value = undefined
  }

  const handleSelect = () => {
    setValues()
    dispatcher('select')
    showModal = false
  }
  const { loadingChooser } = state
  let getEntity = async () => {
    value = await state.getById($model[bind])
  }
  $: if ($isUpdate) {
    if (value === undefined && $model[bind] !== undefined) {
      getEntity()
    } else {
      setValues()
    }
  }
  const setValues = () => {
    validate()
    textToShow = eval(`value?.${propToShow}`)
    console.log('antes', $model[bind])
    $model[bind] = propToBind ? eval(`value?.${propToBind}`) : value
    console.log('depois', $model[bind])
  }
</script>

<div style={`flex: ${size} 1 auto;`} class={`${$$props.class || ''} pr-3`}>
  <label for={label} class="block text-sm font-medium leading-5 text-gray-700">
    {label}{#if required}<span class="text-red-700 text-sm pl-1">*</span>{/if}
  </label>

  <div class="mt-1 rounded-md shadow-sm relative">
    {#if value}
      <Badge text={textToShow} on:delete={handleDelete} />
    {:else}
      <button
        type="button"
        class="inline-flex items-center px-9 py-2 border border-transparent text-sm 
        font-medium rounded-md text-gray-500 border-gray-500 hover:text-gray-700
        hover:border-gray-700 focus:outline-none focus:shadow-outline-indigo 
        transition ease-in-out duration-75"
        on:click={handleChooserOpen}
        on:focusout={handleFocusOut}
      >
        {#if $loadingChooser}
          <Loading button />
        {:else}
          <div class="flex items-center justify-center">
            <Icon name={'Search'} solid /><span class="ml-2">Selecionar</span>
          </div>
        {/if}
      </button>
    {/if}
  </div>
  {#if errorMessage}
    <span class="mt-2 text-xs text-red-600">{errorMessage.msg}</span>
  {/if}
</div>

{#if showModal}
  <Modal on:close={handleChooserClose}>
    <div class="text-lg">
      <slot name="header" />
    </div>
    <hr />
    <div class="overflow-auto">
      <svelte:component this={component} picker bind:entity={value} />
    </div>
    <hr class="mt-4" />
    <div class="pt-2 text-sm leading-5 flex justify-end">
      <button
        disabled={value === undefined}
        on:click={handleSelect}
        class={`inline-flex items-center px-4 py-2 border transition ease-in-out duration-75 text-sm leading-5 font-medium rounded-md ${
          value === undefined
            ? 'cursor-not-allowed border-gray-300 bg-gray-300 text-gray-600'
            : 'border-transparent bg-cyan-600 text-white hover:bg-cyan-500 focus:outline-none focus:border-cyan-700 focus:shadow-outline-indigo active:bg-cyan-700'
        }`}
      >
        Selecionar
      </button>
    </div>
  </Modal>
{/if}
