<script>
  import { createEventDispatcher } from 'svelte'
  const dispatch = createEventDispatcher()
  export let options = []
  export let binding = options[0]
  export let label = null

  const handleChange = () => dispatch('change', { novaQuantidade: binding })
</script>

<div class="w-full relative pr-2">
  {#if label}
    <label
      for={label}
      class="block uppercase tracking-wide text-grey-darker text-xs font-bold mt-1"
    >
      {label}
    </label>
  {/if}
  <div>
    <select
      id={label}
      bind:value={binding}
      on:blur={handleChange}
      class="appearance-none w-full bg-gray-200 border border-gray-200
      mt-1 py-2 px-4 pr-8 rounded leading-tight focus:ring-cyan-500
      focus:ring-offset-gray-200 focus:border-gray-200
      text-sm"
    >
      {#each options as option}
        <option value={option.value} class="text-sm">{option.label}</option>
      {/each}
    </select>
  </div>
</div>
