<script lang="ts">
  export let direction: "left" | "right" | "center" = "center";
  export let noHover = false;
  export let disabled = false;
  let hovering: any;
  const enter = () => (hovering = true);
  const leave = () => (hovering = false);
</script>

<style style lang="postcss">
  .btn {
    @apply relative inline-flex items-center px-2 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 transition ease-in-out duration-150;
  }
  .btn:focus {
    @apply z-10 outline-none border-blue-300;
  }
  .btn-left {
    @apply rounded-l-md;
  }
  .btn-right {
    @apply rounded-r-md;
  }
  .btnHover:hover {
    @apply bg-cyan-500;
  }
  .disabled {
    @apply bg-gray-300 text-gray-500;
  }
  .disabled:hover {
    @apply cursor-not-allowed;
  }
</style>

<button
  {disabled}
  type="button"
  on:click|stopPropagation
  class={`btn btn-${direction} ${noHover || disabled ? '' : 'btnHover'} ${disabled ? 'disabled' : ''} ${$$props.class || ''}`}
  on:mouseenter={enter}
  on:mouseleave={leave}>
  <slot {hovering} />
</button>
