<script>
  import { createEventDispatcher } from 'svelte'
  const dispatch = createEventDispatcher()
  export let options = []
  let actionSelected

  const handleChange = () => dispatch(actionSelected)
</script>

<div class="w-full relative pr-2">
  <div>
    <!-- svelte-ignore a11y-no-onchange -->
    <select
      id={'actionCombobox'}
      bind:value={actionSelected}
      on:change={handleChange}
      class="appearance-none w-full bg-gray-200 border border-gray-200
      mt-1 py-2 px-4 pr-8 rounded leading-tight focus:ring-cyan-500
      focus:ring-offset-gray-200 focus:border-gray-200
      text-sm"
    >
      {#each options as option}
        <option value={option.action} class="text-sm">{option.label}</option>
      {/each}
    </select>
  </div>
</div>
