<script lang="ts">
  import { Icon } from '@components'
  import type { ConsoleState, Field } from '@types'
  import { onMount } from 'svelte'
  import ActionButton from './ActionButton.svelte'
  import ActionsCombobox from './ActionsCombobox.svelte'

  export let props: ConsoleState<any>
  export let entity: any

  let allSelected = false

  const { picker, fields, gridModel, requestParams } = props
  const actions = props.getActions()

  onMount(() => {
    $fields.forEach((f) => {
      const sortObject = $requestParams.sort.find((s) => s.column === f.name)
      if (sortObject) f.sortOrder = sortObject.order
    })
    $fields = $fields
  })
  const render = (row: any, field: string) => {
    if (field) return field.split('.').reduce((obj, field) => obj && obj[field], row)
    return row[field]
  }
  const changeAllSelected = () =>
    ($gridModel.data = $gridModel.data.map((r: any) => ({
      ...r,
      selected: !allSelected,
    })))
  const setElementTitle = (el: Element) => el.setAttribute('title', el.innerHTML)
  const changeOrder = (event, field: Field) => {
    field.sortOrder = {
      none: 'asc',
      asc: 'desc',
      desc: 'none',
    }[field.sortOrder ?? 'none'] as 'asc' | 'desc' | 'none'
    if (event.ctrlKey) {
      $requestParams.sort = buildCTRLSort($requestParams.sort, field.name, field.sortOrder)
    } else {
      $requestParams.sort = buildSimpleSort($fields, field.name, field.sortOrder)
    }
    $fields = $fields
  }

  function buildCTRLSort(sort, fieldName, newSortOrder) {
    const sortObjectIndex = sort.findIndex((s) => s.column === fieldName)
    if (sortObjectIndex !== -1 && newSortOrder === 'none') {
      return sort.filter((s) => s.column !== fieldName)
    } else if (sortObjectIndex !== -1) {
      sort[sortObjectIndex] = { column: fieldName, order: newSortOrder }
      return sort
    } else {
      return [...sort, { column: fieldName, order: newSortOrder }]
    }
  }

  function buildSimpleSort(fields, fieldName, newSortOrder) {
    fields.filter((f) => f.name !== fieldName).forEach((f) => (f.sortOrder = undefined))
    return newSortOrder !== 'none' ? [{ column: fieldName, order: newSortOrder }] : []
  }

  $: pageValue = $gridModel.meta.perPage * $gridModel.meta.currentPage
  $: endingElementsAmount = pageValue > $gridModel.meta.total ? $gridModel.meta.total : pageValue
  $: selected = $gridModel.data.filter((el: any) => el.selected)
  $: fillerData =
    $gridModel.data.length < $requestParams.limit
      ? [...new Array($requestParams.limit - $gridModel.data.length).fill(1)]
      : []
  $: initialElementsAmount =
    ($gridModel.meta.currentPage - 1) * $gridModel.meta.perPage === 0
      ? 1
      : ($gridModel.meta.currentPage - 1) * $gridModel.meta.perPage + 1
</script>

<div class={`pt-2 ${$$props.class || ''}`}>
  <div class="flex justify-between items-center">
    <div class="text-gray-700 flex items-center">
      <div class:hidden={!allSelected && selected.length <= 1}>
        <ActionsCombobox
          options={[
            { action: 'nothing', label: 'Ações em Lote' },
            { action: 'excluirEmLote', label: 'Excluir' },
          ]}
          on:excluirEmLote={() => props.selectForDelete(selected.map((s) => s.id))}
        />
      </div>
    </div>
    <span
      class="inline-flex items-center px-3 rounded-full text-sm leading-5 bg-gray-300 text-gray-700"
      class:hidden={selected.length <= 1}
    >
      {selected.length} selecionados
    </span>
  </div>
  <div class="hidden sm:block">
    <div class="max-w-6xl mx-auto">
      <div class="flex flex-col mt-2">
        <div
          class="align-middle min-w-full overflow-x-auto shadow-lg overflow-hidden sm:rounded-lg"
        >
          <table class="min-w-full divide-y divide-gray-300">
            <thead>
              <tr>
                <th
                  class="px-3 py-3 bg-gray-200 text-left text-xs leading-4 font-medium text-gray-700 uppercase tracking-wider"
                >
                  {#if picker}
                    <span />
                  {:else}
                    <input
                      type="checkbox"
                      class="focus:ring-transparent focus:ring-offset-transparent h-4 w-4 text-cyan-600 border-gray-300 rounded transition duration-150 ease-in-out"
                      on:click={changeAllSelected}
                      bind:checked={allSelected}
                    />
                  {/if}
                </th>
                {#each $fields as field, i (i)}
                  <th
                    class={`px-3 py-3 cursor-pointer bg-gray-200 text-xs leading-4 font-medium text-gray-700 uppercase tracking-wider text-${
                      field.aligner || 'left'
                    }`}
                    on:click={(e) => changeOrder(e, field)}
                  >
                    <div class="flex">
                      <span>{field.label}</span>
                      {#if field.sortOrder === 'asc'}
                        <Icon name={'ArrowUp'} />
                      {/if}
                      {#if field.sortOrder === 'desc'}
                        <Icon name={'ArrowDown'} />
                      {/if}
                      {#if field.sortOrder === 'none' || field.sortOrder === undefined}
                        <Icon name={'EmojiHappy'} class="text-gray-200" />
                      {/if}
                    </div>
                  </th>
                {/each}
                <th
                  class="px-3 py-3 bg-gray-200 text-right text-xs leading-4 font-medium text-gray-700 uppercase tracking-wider"
                >
                  Ações
                </th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-300">
              {#each $gridModel.data as row}
                <tr
                  class:bg-gray-200={row.selected}
                  class:hover:bg-gray-100={!row.selected}
                  class="h-12 hover:bg-gray-100 bg-gray-200"
                  on:click={() => (picker ? '' : (row.selected = !row.selected))}
                >
                  <td class={`px-3 text-left whitespace-no-wrap text-sm leading-5 text-gray-500`}>
                    {#if picker}
                      <input
                        class="focus:ring-cyan-500 cursor-pointer h-4 w-4 text-cyan-600 transition duration-150 ease-in-out"
                        type="radio"
                        value={row}
                        bind:group={entity}
                      />
                    {:else}
                      <input
                        class="focus:ring-transparent focus:ring-offset-transparent h-4 w-4 text-cyan-600 border-gray-300 rounded transition duration-150 ease-in-out"
                        type="checkbox"
                        bind:checked={row.selected}
                      />
                    {/if}
                  </td>
                  {#each $fields as { name, aligner, transformer, truncate }}
                    <td
                      class={`max-w-0 px-3 ${
                        truncate ? 'truncate' : ''
                      } whitespace-no-wrap text-sm leading-5 text-gray-500 text-${
                        aligner || 'left'
                      }`}
                    >
                      <span use:setElementTitle
                        >{transformer
                          ? transformer(render(row, name), row)
                          : render(row, name)}</span
                      >
                    </td>
                  {/each}
                  <td class={`px-3 text-right whitespace-no-wrap text-sm leading-5 text-gray-500`}>
                    <span class="mt-1 mb-1 relative z-0 inline-flex shadow-sm rounded-md">
                      {#each actions as { handler, icon, isOnGrid }}
                        {#if isOnGrid}
                          <ActionButton let:hovering on:click={() => handler(row)}>
                            <Icon name={icon} small class={hovering && 'text-white'} />
                          </ActionButton>
                        {/if}
                      {/each}
                    </span>
                  </td>
                </tr>
              {/each}
              {#each fillerData as _, i (i)}
                <tr class="bg-white h-12">
                  <td class={`px-6 text-left whitespace-no-wrap text-sm leading-5 text-gray-500`}>
                    -
                  </td>
                  {#each $fields as _, i (i)}
                    <td class={`px-6 text-left whitespace-no-wrap text-sm leading-5 text-gray-500`}>
                      -
                    </td>
                  {/each}
                  <td class={`px-6 text-left whitespace-no-wrap text-sm leading-5 text-gray-500`}>
                    -
                  </td>
                </tr>
              {/each}
            </tbody>
          </table>
          <nav
            class="bg-gray-200 px-4 py-2 flex items-center justify-between border-t border-gray-300 sm:px-6"
          >
            <div class="hidden sm:block">
              <p class="text-sm leading-5 text-gray-700">
                Mostrando de
                <span class="font-medium">{initialElementsAmount}</span>
                a
                <span class="font-medium">{endingElementsAmount}</span>
                dos
                <span class="font-medium">{$gridModel.meta.total}</span>
                resultados
              </p>
            </div>
            <span class="relative z-0 inline-flex shadow-sm rounded-md">
              <ActionButton
                disabled={$requestParams.page === $gridModel.meta.firstPage}
                direction="left"
                on:click={() => ($requestParams.page -= 1)}
                let:hovering
              >
                <Icon name={'CheveronLeft'} small />
              </ActionButton>
              <ActionButton noHover let:hovering>
                Página
                {$requestParams.page}
                de
                {$gridModel.meta.lastPage}
              </ActionButton>
              <ActionButton
                disabled={$requestParams.page === $gridModel.meta.lastPage}
                direction="right"
                on:click={() => ($requestParams.page += 1)}
                let:hovering
              >
                <Icon name={'CheveronRight'} small />
              </ActionButton>
            </span>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
