<script>
  import Input from './BaseInput.svelte';
  export let label = '';
  export let validationMessage = 'hey';
  export let placeholder = '';
  export let validations = {};
  export let width = 12;
  $: computedWidth = width === 12 ? 'w-full' : `w-${width}/12`;
</script>

<style>
  .required {
    @apply text-red-700;
  }
</style>

<div class={`pr-3 py-1 ${computedWidth}`}>
  <label
    class="block uppercase tracking-wide text-grey-darker text-xs font-bold mb-1">
    {label}
    {#if validations.required}
      <span class="text-red-700 text-sm">*</span>
    {/if}
  </label>

  <Input
    inputClass="appearance-none block w-full bg-grey-lighter text-grey-darker
    border border-red rounded py-2 px-2 mb-1"
    {placeholder}
    {validations} />
  <p class="text-red-700 text-xs italic">{validationMessage}</p>
</div>
